@import url(./headcity.css);
@import url(./megamenu.css);
@import url(./menusec.css);
@import url(./menuset.css);

header > div.headmenu {
  width: var(--width);
  height: 45px;
  /* background-color: red; */
  margin-bottom: 10px;
  
}
div.headmenu>hr{

  border: 1px solid #D5D5D5;
  margin-bottom: 8px;

}