div.headbar > div.searchbar {
  width: 1100px;
  height: inherit;

  display: flex;
  align-items: center;
  float: right;
}
div.searchbar-input {
  width: 600px;
  height: 40px;
  background-color: #f1f2f4;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: 300ms;
}

div.searchbar-input > a > i {
  margin: 10px;
  color: var(--graycolor);
  font-size: 20px;
}

input[type="text"] {
  width: 600px;
  height: 40px;
  background-color: #f1f2f4;
  font-family: irankeywan;
  font-size: 12px;
  border-radius: 8px;
  outline: unset;
  border: 0;

}
 