div.headpro > a > div.headpro-2 {
  width: 120px;
  height: 125px;
  display: inline-block;
  margin-left: 35px;
  vertical-align: top;
  font-family: irankeywan;
  color: black;
  font-size: 13px;
}
div.headpro > a {
  text-decoration: none;
}

div.headpro-2 > img {
  width: 65px;
  height: 65px;
  margin-top: 20px;
  box-sizing: border-box;
  outline-offset: 10px;
  border-radius: 50%;
  outline: 3px solid #ed1b34;
  outline-offset: 5px;
  transition: 300ms;
}
div.headpro-2 > p {
  margin-top: 5px;
}

div.headpro-2 > img:active {
  width: 55px;
  height: 55px;
  outline-color: var(--graycolor);
  transition: 300ms;
}
